<div class="cards">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Criar Conta</h5>
            <p class="card-text">Para criar uma conta, o usuário, dono do estabelecimento, deve preencher o formulário com os dados solicitados.</p>
            <p class="card-text">Logo após, será redirecionado para realizar o login no On Price.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Entrar</h5>
            <p class="card-text">Insira os dados do estabelecimento (nome e senha) e clique no botão Entrar abaixo do formulário.</p>
            <p class="card-text">O usuário será redirecionado para o espaço do mercado, onde poderá gerenciar seus produtos.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Criar Produtos</h5>
            <p class="card-text">Preencha o formulário com os dados do produto. Lembre-se de preencher o campo de unidade como Kg, Pacote, etc.</p>
            <p class="card-text">O produto aparecerá no espaço do mercado.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Mercados</h5>
            <p class="card-text">Clique em produtos na tela inicial.</p>
            <p class="card-text">O usuário será redirecionado para uma tela com uma lista dos mercados cadastrados no On Price.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Produtos</h5>
            <p class="card-text">Na listagem de estabelecimentos descrita no passo anterior, clique no mercado desejado</p>
            <p class="card-text">O usuário será redirecionado para uma tela com a lista dos produtos deste estabelecimento
                cadastrados no On Price.</p>
        </div>
    </div>

</div>