<div class="form home">
    <div class="card" style="width: 18rem;">
        <img src="../../images/market.jpeg" class="card-img-top" alt="market">
        <div class="card-body">
            <h5 class="card-title">Mercados</h5>
            <p class="card-text">Cadastre aqui o seu negócio de forma rápida, fácil e segura</p>
            <a href="login" class="btn btn-primary">Entrar</a>
            <a href="createAccount" class="btn btn-light">Criar conta</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../images/products.jpeg" class="card-img-top" alt="products">
        <div class="card-body">
            <h5 class="card-title">Produtos</h5>
            <p class="card-text">Encontre os melhores produtos nos melhores estabelecimentos</p>
            <a href="listStores" class="btn btn-primary">Buscar</a>
        </div>
    </div>

</div>